# KFUPM Smart Shop Database

MX Project for COE619

Author **Haithem Albetairi**

[Schema diagram](https:\dbdiagram.io\d\smart-shopping-6546880f7d8bbd64657cd364)

## Database Metadata

In [26]:
SELECT DB_ID()
SELECT DB_NAME()

(No column name)
5

(No column name)
kfupm-smart-shop-database

### Primary tables

These are the main tables that are needed for core functionality

## CREATE TABLE

In [15]:
CREATE TABLE [Carts] (
  [CartId] INT NOT NULL PRIMARY KEY,
  [OrderId] INT,
  [Total] MONEY NOT NULL DEFAULT 0,
  [CreatedAt] DATETIME DEFAULT CURRENT_TIMESTAMP,
  [ModifiedAt] DATETIME DEFAULT CURRENT_TIMESTAMP
);
GO

CREATE TABLE [Orders] (
  [OrderId] INT NOT NULL PRIMARY KEY,
  [PaymentId] INT UNIQUE,
  [UserId] INT UNIQUE,
  [OrderStatus] NVARCHAR(50) CHECK ([OrderStatus] IN ('Complete', 'Cancelled', 'Initial', 'InProcess')),
  [Total] MONEY NOT NULL,
  [CreatedAt] DATETIME DEFAULT CURRENT_TIMESTAMP,
  [ModifiedAt] DATETIME DEFAULT CURRENT_TIMESTAMP
);
GO

CREATE TABLE [OrderItems] (
  [OrderItemsId] INT NOT NULL PRIMARY KEY,
  [ProductId] INT NOT NULL,
  [CartId] INT NOT NULL,
  [Quantity] INT DEFAULT (1),
  [SaleStatus] NVARCHAR(50) NOT NULL CHECK ([SaleStatus] IN ('Sold', 'ToBeSold'))
);
GO

CREATE TABLE [Products] (
  [ProductId] INT NOT NULL PRIMARY KEY,
  [Name] NVARCHAR(100),
  [Price] SMALLMONEY NOT NULL,
  [Weight] FLOAT,
  [Size] FLOAT,
  [StoreId] INT,
  [Location] NVARCHAR(50),
  [RestockThreshold] INT,
  [StockStatus] NVARCHAR(50) NOT NULL CHECK ([StockStatus] IN ('OutOfStock', 'InStock', 'RunningLow')),
  [CreatedAt] DATETIME DEFAULT CURRENT_TIMESTAMP,
  [ModifiedAt] DATETIME DEFAULT CURRENT_TIMESTAMP
);
GO

## ALTER TABLE

These rules establish the relationships between the table keys

In [16]:
ALTER TABLE [Carts] ADD FOREIGN KEY ([OrderId]) REFERENCES [Orders] ([OrderId])
GO

ALTER TABLE [OrderItems] ADD FOREIGN KEY ([ProductId]) REFERENCES [Products] ([ProductId])
GO

ALTER TABLE [OrderItems] ADD FOREIGN KEY ([CartId]) REFERENCES [Carts] ([CartId])
GO

## CREATE TRIGGER

These triggers handle updating the creation and modification timestamps in each table

In [17]:
CREATE TRIGGER dbo.trgCartAfterUpdate ON dbo.Carts
AFTER INSERT, UPDATE 
AS
  UPDATE f set ModifiedAt=GETDATE() 
  FROM 
  dbo.[Carts] AS f 
  INNER JOIN inserted 
  AS i 
  ON f.CartId = i.CartId;

In [18]:
CREATE TRIGGER dbo.trgOrderAfterUpdate ON dbo.Orders
AFTER INSERT, UPDATE 
AS
  UPDATE f set ModifiedAt=GETDATE() 
  FROM 
  dbo.[Orders] AS f 
  INNER JOIN inserted 
  AS i 
  ON f.OrderId = i.OrderId;

In [19]:
CREATE TRIGGER dbo.trgProductAfterUpdate ON dbo.Products
AFTER INSERT, UPDATE 
AS
  UPDATE f set ModifiedAt=GETDATE() 
  FROM 
  dbo.[Products] AS f 
  INNER JOIN inserted 
  AS i 
  ON f.ProductId = i.ProductId;

## INSERT data

Adding sample product data

In [21]:
INSERT INTO dbo.Products (ProductId, Name, StoreId, Price, Weight, Size, RestockThreshold, StockStatus)
VALUES 
    (239302914, 'Milk', NULL, 2.00, 1000, 1, 1, 'OutOfStock'), 
    (243595378, 'Orange', NULL, 5.75, 30, 6, 10, 'RunningLow'),
    (303654328, 'Soap', NULL, 5.00, 300, 1, 2, 'InStock'),
    (430387970, 'Eggs', NULL, 2.50, 78, 12, 4, 'InStock'),
    (445018514, 'Tomato', NULL, 4.25, 45, 6, 8, 'RunningLow'),
    (1574889100, 'Shampoo', NULL, 3.50, 750, 1, 3, 'InStock'),
    (1881380176, 'Lime', NULL, 7.00, 15, 6, 6, 'InStock')

In [35]:
INSERT INTO dbo.Carts (CartID) VALUES (1)

Adding primitive order items

In [36]:
INSERT INTO dbo.OrderItems (OrderItemsId, ProductId, CartId, Quantity, SaleStatus)
VALUES
    (1, 239302914, 1, 2, 'ToBeSold'),
    (2, 430387970, 1, 2, 'ToBeSold')

### Auxiliary Tables

These tables help flex out the application

## CREATE TABLE

In [29]:
CREATE TABLE [Addresses] (
  [AddressId] INT NOT NULL PRIMARY KEY IDENTITY(1, 1),
  [CountryCode] INT,
  [PhoneNumber] INT,
  [PlusCode] NVARCHAR(50),
  [City] NVARCHAR(50),
  [State] NVARCHAR(50),
  [Street1] NVARCHAR(100),
  [Street2] NVARCHAR(100),
  [Zipcode] INT
);
GO

CREATE TABLE [Countries] (
  [CountryCode] INT NOT NULL PRIMARY KEY,
  [Name] NVARCHAR(50),
  [Continent] NVARCHAR(50),
  [Region] NVARCHAR(50)
);
GO

CREATE TABLE [Payments] (
  [PaymentID] INT NOT NULL PRIMARY KEY,
  [PaymentStatus] VARCHAR(50) NOT NULL CHECK ([PaymentStatus] IN ('Paid', 'UnPaid', 'Failed')),
  [CreatedAt] DATETIME DEFAULT CURRENT_TIMESTAMP,
  [ModifiedAt] DATETIME DEFAULT CURRENT_TIMESTAMP
)

CREATE TABLE [PhoneNumbers] (
  [CountryCode] INT NOT NULL,
  [PhoneNumber] INT NOT NULL,
  PRIMARY KEY ([CountryCode], [PhoneNumber])
);
GO

CREATE TABLE [ProductExpiration] (
  [ExpirationId] INT NOT NULL PRIMARY KEY,
  [ProductId] INT NOT NULL,
  [ProductionDate] DATETIME DEFAULT CURRENT_TIMESTAMP,
  [ExpirationDate] datetime
);
GO

CREATE TABLE [ProductTags] (
  [ProductId] INT NOT NULL,
  [TagId] INT NOT NULL,
  PRIMARY KEY ([ProductId], [TagId])
);
GO

CREATE TABLE [Tags] (
  [TagId] INT PRIMARY KEY,
  [Name] NVARCHAR(255)
);
GO

CREATE TABLE [Stores] (
  [StoreId] INT NOT NULL PRIMARY KEY,
  [AddressId] INT NOT NULL,
  [MerchantName] NVARCHAR(255),
  [EstablishedAt] DATETIME,
  [AdminId] INT
);
GO

CREATE TABLE [StorePeriods] (
  [PeriodId] INT NOT NULL PRIMARY KEY,
  [StoreId] INT NOT NULL,
  [StartDate] datetime,
  [EndDate] datetime
);
GO

CREATE TABLE [Users] (
  [UserId] INT PRIMARY KEY IDENTITY(1, 1),
  [FullName] NVARCHAR(255),
  [Email] NVARCHAR(255),
  [CreatedAt] datetime DEFAULT 'now()',
  [BillingAddress] INT,
  [Role] NVARCHAR(255) NOT NULL CHECK ([Role] IN ('Standard', 'Business'))
);
GO

: Msg 2714, Level 16, State 6, Line 1
There is already an object named 'Addresses' in the database.

: Msg 2714, Level 16, State 6, Line 14
There is already an object named 'Countries' in the database.

: Msg 2714, Level 16, State 6, Line 22
There is already an object named 'Payments' in the database.

: Msg 2714, Level 16, State 6, Line 36
There is already an object named 'ProductExpiration' in the database.

: Msg 2714, Level 16, State 6, Line 44
There is already an object named 'ProductTags' in the database.

: Msg 2714, Level 16, State 6, Line 51
There is already an object named 'Tags' in the database.

: Msg 2714, Level 16, State 6, Line 57
There is already an object named 'Stores' in the database.

: Msg 2714, Level 16, State 6, Line 74
There is already an object named 'Users' in the database.

## ALTER TABLE

In [30]:
ALTER TABLE [Addresses] ADD FOREIGN KEY ([CountryCode], [PhoneNumber]) REFERENCES [PhoneNumbers] ([CountryCode], [PhoneNumber])
GO

ALTER TABLE [Orders] ADD FOREIGN KEY ([UserId]) REFERENCES [Users] ([UserId])
GO

ALTER TABLE [Orders] ADD FOREIGN KEY ([PaymentId]) REFERENCES [Payments] ([PaymentId])
GO

ALTER TABLE [Products] ADD FOREIGN KEY ([StoreId]) REFERENCES [Stores] ([StoreId])
GO

ALTER TABLE [ProductTags] ADD FOREIGN KEY ([ProductId]) REFERENCES [Products] ([ProductId]);
GO

ALTER TABLE [ProductTags] ADD FOREIGN KEY ([TagId]) REFERENCES [Tags] ([TagId]);
GO

ALTER TABLE [Stores] ADD FOREIGN KEY ([AdminId]) REFERENCES [Users] ([UserId])
GO

ALTER TABLE [StorePeriods] ADD FOREIGN KEY ([StoreId]) REFERENCES [Stores] ([StoreId])
GO

ALTER TABLE [Users] ADD FOREIGN KEY ([BillingAddress]) REFERENCES [Addresses] ([AddressId])
GO

## CREATE INDEX

Indecies help speed up searching the database

In [27]:
CREATE UNIQUE INDEX [ProductsIndex] ON [Products] ("ProductId")
GO

CREATE INDEX [ProductStatus] ON [Products] ("StoreId", "StockStatus")
GO

## EXEC

Adding descriptions to some table columns

In [28]:
EXEC sp_addextendedproperty
@name = N'Column_Description',
@value = 'Google Maps plus codes. Example: 8549+8P Dhahran',
@level0type = N'Schema', @level0name = 'dbo',
@level1type = N'Table',  @level1name = 'Addresses',
@level2type = N'Column', @level2name = 'PlusCode';
GO

EXEC sp_addextendedproperty
@name = N'Column_Description',
@value = 'When an order was created',
@level0type = N'Schema', @level0name = 'dbo',
@level1type = N'Table',  @level1name = 'Orders',
@level2type = N'Column', @level2name = 'CreatedAt';
GO

EXEC sp_addextendedproperty
@name = N'Column_Description',
@value = 'VAT registration number',
@level0type = N'Schema', @level0name = 'dbo',
@level1type = N'Table',  @level1name = 'StorePeriods',
@level2type = N'Column', @level2name = 'PeriodId';
GO

: Msg 15135, Level 16, State 8, Procedure sp_addextendedproperty, Line 37
Object is invalid. Extended properties are not permitted on 'dbo.StorePeriods.PeriodId', or the object does not exist.

## DROP RULE

Use this code snippit to unbind table rules before table deletion

In [ ]:
sp_unbindrule 'dbo.Cart.OrderId'
DROP RULE OrderId_rule

## DROP DATABASE

This code will delete all tables and data from the DB. Use with caution

In [25]:
-- Drop the database 'kfupm-smart-shop-database'
-- Connect to the 'master' database to run this snippet
-- USE master
-- GO
-- Uncomment the ALTER DATABASE statement below to set the database to SINGLE_USER mode if the drop database command fails because the database is in use.
-- ALTER DATABASE kfupm-smart-shop-database SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
-- Drop the database if it exists
IF EXISTS (
    SELECT [name]
        FROM sys.databases
        WHERE [name] = N'kfupm-smart-shop-database'
)
DROP DATABASE DatabaseName
GO

: Msg 911, Level 16, State 1, Line 13
Database 'DatabaseName' does not exist. Make sure that the name is entered correctly.

## DROP TABLES

Same as above but needs to run multiple times to clear column rules

In [26]:
--DROP TABLE dbo.Carts
GO

--DROP TABLE dbo.Orders
GO

--DROP TABLE dbo.OrderItems
GO

--DROP TABLE dbo.Products
GO

--DROP TABLE dbo.Addresses
GO

--DROP TABLE dbo.Countries
GO

--DROP TABLE dbo.Payments
GO

--DROP TABLE dbo.PhoneNumbers
GO

--DROP TABLE dbo.ProductExpiration
GO

--DROP TABLE dbo.ProductTags
GO

--DROP TABLE dbo.Tags
GO

--DROP TABLE dbo.Stores
GO

--DROP TABLE dbo.StorePeriods
GO

--DROP TABLE dbo.Users
GO

: Msg 3726, Level 16, State 1, Line 34
Could not drop object 'dbo.Stores' because it is referenced by a FOREIGN KEY constraint.

: Msg 3701, Level 11, State 5, Line 37
Cannot drop the table 'dbo.StorePeriods', because it does not exist or you do not have permission.

## DROP RULE

To remove the constraints set on the table columns